.vscode/
examples/
main/examples/
main/output_scene/
main/SceneNetData/
main/texture_library/
main/world/
*.txt 
*.tgz
status/camera_loc/
status/problem/
status/demo/
Textures/
main/HDRI.exr
main/code_piece.py
main/test.py
main/model.blend
main/main_head3.py